    .basic-bg {
        background-color: #222223;
    }

    .noselect {
        cursor: default;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;
    }

    .akuru-bg {
        color: #BDC5C5;
    }
